.signup_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
}

/* left signup side */

.left_signup_side {
  background: #12151a;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 104px 0;
  box-sizing: border-box;
}

.logo_signup_page {
  width: 200px;
  position: absolute;
  top: 23px;
  left: 35px;
}

.left_signup_side > span {
  width: 135px;
  height: 32px;
  border: 0.2px solid #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #ff0000;
}

.signup_img1 {
  margin: auto;
  display: inherit;
}

/* right signup side */

.right_signup_side {
  width: 50%;
  height: 100%;
  background: #f7f4f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 28px;
}

.right_signup_side > h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.right_signup_side > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  width: 45%;
}

/* signup buttons */

.signup_buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  gap: 13px;
}

.signup_buttons button {
  width: 430px;
  height: 48px;
  border: 1px solid #000000;
  background: transparent;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.signup_buttons button svg {
  font-size: 18px;
}

.swiper-pagination-bullet-active {
  background-color: #F5051B !important;
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet {
  background: #F5051B4D;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 600px) {
  .signup_page {
    flex-direction: column;
    height: max-content;
    min-height: 100vh;
    justify-content: unset;
    background: #13151a;
  }

  /* logo signup page ------------------- */
  .logo_signup_page {
    width: 150px;
    top: 17px;
    left: 15px;
  }

  /* image */
  .signup_img1 {
    width: 90%;
    height: 376.36px;
    margin-top: -30px;
  }

  /* left side ----------------------------- */

  .left_signup_side {
    width: 100%;
    padding: 19px 0;
    padding-top: 80px;
    height: 60vh;
    box-sizing: border-box;
    position: unset;
  }

  .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  /* right side ----------------------------- */

  .right_signup_side {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: #f7f4f2;
    padding: 25px 0;
    gap: 15px;
    height: 40vh;
  }

  .right_signup_side > h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .right_signup_side > p {
    width: 90%;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
  }

  /* signup headers *---------------------- */

  .signup_header_01 {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
  }

  /* signup points ---------------------------------- */

  .signup_points {
    width: 90%;
    margin-top: 22px;
  }

  .signup_points > section {
    justify-content: center;
    margin-bottom: 25px;
  }

  .signup_points section span {
    font-weight: 400;
    font-size: 14px;
    line-height: 144.52%;
    color: rgba(255, 255, 255, 0.8);
    width: 74%;
  }

  .signup_points section img {
    width: 28px;
    height: 28px;
  }

  /* signup buttons -------------------------------------------- */

  .signup_buttons button {
    width: 272px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 12px;
  }
}
