.navbar_creator_wrapper01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 93vw;
  padding: 0 22px;
  padding-top: 20px;
  position: fixed;
  top: 0px;
  left: 35px;
  background: #101010;
  z-index: 99;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.navbar_creator_wrapper01 > img {
  width: 200px;
  cursor: pointer;
}

.navbar_creator_wrapper01 > button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 38px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  padding: 8px 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.navbar_creator_wrapper01 > button:hover{
  background-color: red;
  border: 1px solid red;
}

@media (max-width: 600px) {
  .navbar_creator_wrapper01 {
    left: 0px;
    width: 100vw;
    padding: 22px 10px;
  }

  .navbar_creator_wrapper01 > img {
    width: 150px;
    margin-left: 15px;
  }

  .navbar_creator_wrapper01 > button{
    width: 114px;
    height: 23px;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    padding: unset;
  }
}
