@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/clash-display");






/* New ui css landing page -------------------------------------------------------------------- */


html {
  scroll-behavior: smooth;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.mainLandingpage_body {
  background-color: #232426;
  /* width: 100vw; */
  overflow-x: hidden;
  box-sizing: border-box;
  /* min-height: 100vh; */
  color: white;
  -webkit-user-select: none;
}

/* logo on main page ----------------------------------------------------------------------------- */

.mainPage_headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 93vw;
  padding-top: 20px;
  position: fixed;
  top: 0px;
  left: 35px;
  background: #232426;
  z-index: 99;
  padding-bottom: 12px;
}

.logo_main_page {
  width: 200px;
  cursor: pointer;
}

.login_creator_mainpage {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 38px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  padding: 8px 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

/* hero section ------------------------------------------------------------------------------------------- */

.hero_mainpage {
  display: flex;
  align-items: center;
  width: 92vw;
  margin: 180px auto;
  justify-content: space-between;
}

.hero_section_image {
  width: 640px;
  height: 353px;
}

.left_hero_text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.left_hero_text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 57px;
  margin-bottom: -12px;
}

.left_hero_text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  width: 600px;
  margin: 22px 0;
}

.left_hero_text button {
  background: #404245;
  cursor: pointer;
  padding: 7px 15px;
  border: 0.7px solid #505050;
  border-radius: 13px;
  color: #fc6262;
  font-weight: 500;
  font-size: 23px;
  margin-top: 15px;
}

.left_hero_text button:focus {
  background-color: #404245;
}

/* headers style */

.headers1_mainpage {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  margin-bottom: 15px;
}

.headers2_mainpage {
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  margin-bottom: unset;
}

.text_mainpage1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 178.52%;
  display: inline-block;
  width: 76%;
  color: rgba(255, 255, 255, 0.5);
}

/* steps anchors page =================================================================================*/

.steps_anchors_mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  margin-bottom: 200px;
}

.steps_anchors_mainpage > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin-top: 50px;
}

.steps {
  border: 1px solid rgba(253, 253, 253, 0.5);
  border-radius: 160px 160px 0px 0px;
  width: 321px;
  height: 343px;
}

.steps > div {
  width: 279px;
  height: 300px;
  background: rgba(57, 58, 61, 0.5);
  border-radius: 160px 160px 0px 0px;
  position: relative;
  left: 20px;
  top: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.steps > div img {
  position: absolute;
  top: 60px;
  width: 170px;
}

.steps > div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 145.02%;
  text-align: center;
  width: 55%;
  /* margin-bottom: 60px; */
}

/* why anchors section ----------------------------------------------------------- */

.why_anchors_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 180px auto;
  width: 85vw;
  margin-bottom: 200px;
}

.why_anchors_section img {
  width: 460px;
  height: 370px;
}

.why_anchors_desc {
  width: 46%;
}

.why_anchors_desc > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  gap: 35px;
  column-gap: 60px;
}

.why_anchors_steps_boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.why_anchors_desc > div i {
  color: #ffffffcc;
  margin-bottom: 15px;
}

.why_anchors_steps_boxes span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.why_anchors_steps_boxes p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 80%;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}

/* facilities sectiuon anchors------------------------------------------------------------------- */

.facilities {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.facilities > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 161.02%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 50%;
  margin-bottom: 26px;
  margin-top: 12px;
}

.facilities_boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  row-gap: 30px;
}

.facilities_boxes > div {
  background: rgba(57, 58, 61, 0.5);
  border: 0.5px solid rgba(253, 253, 253, 0.5);
  border-radius: 9px;
  padding: 12px;
  height: 151px;
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.facilities_boxes > div span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 161.02%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 25px;
}

.facilities_boxes > div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 161.02%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 80%;
  margin-top: 13px;
  margin-bottom: unset;
}

/* Eligibility section mainpage -------------------------------------------------------------------- */

.eligibility_mainpage {
  margin: 132px 0;
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.eligibility_mainpage > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 147.52%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 50%;
}

.eligibility_mainpage > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 178.52%;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 25px;
}

.eligibility_check_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.eligibility_check_section > section {
  margin-right: 35px;
}

.eligibility_check_section > section span {
  margin-right: 40px;
  padding: 19px 12px;
  padding-bottom: 8px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.eligibility_check_section > section span:hover {
  background: rgba(255, 74, 74, 0.75);
}

.active_platform {
  background: rgba(255, 74, 74, 0.75);
}

.eligibility_check_section i {
}

.eligibility_check_section input {
  border: 1px solid #787b82;
  border-radius: 10px;
  background-color: transparent;
  width: 218px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 178.52%;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 5px;
  text-align: center;
  box-sizing: border-box;
}

.eligibility_check_section input:focus {
  outline: none;
}

.eligibility_check_section input:focus::placeholder {
  color: transparent;
}

.eligibility_mainpage button {
  width: 243px;
  height: 57px;
  background: #404245;
  border: 0.7px solid #505050;
  border-radius: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fc6262;
  margin-top: 22px;
  cursor: pointer;
}

/* People who trust us --------------------------------------------------------- */

.featured_creators {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  margin-top: 200px;
}

.featured_creators > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 20px;
}

.creator_section_cardsection {
  display: flex;
  justify-content: center;
  gap: 5vw;
  position: relative;
  width: 80%;
}
.creator_section_cardsection_card1 {
  width: 316px;
  border-radius: 23px;
  height: 544px;
  overflow: none;
  cursor: pointer;
  /* border: 3px solid rgba(255, 255, 255, 0.5); */
}

.creator_section_cardsection_card1 img {
  width: 100%;
  height: 100%;
  /* border: 3px solid rgba(255, 255, 255, 0.5); */
  border-radius: 20px;
  /* object-fit: cover; */
}

.creator_section_imagetext {
  position: absolute;
  bottom: 0;
  width: 316px;
  display: flex;
  align-items: center;
  height: 120px;
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.9;
}

.creator_section_imagewrap {
  display: flex;
  width: 85%;
  margin: 0 auto;
  margin-top: 1vh;
  align-items: center;
  justify-content: space-between;
}
.creator_section_imagetext_text span {
  display: block;
}
.creator_section_imagetext_text span:first-of-type {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 3px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #fffaf3;
}
.creator_section_imagetext_text span:last-of-type {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #d4d4d8;
}
.creator_section_icon {
  background: rgba(255, 255, 255, 0.09);
  border: 2px solid #ffffff;
  box-shadow: 0px 15px 75px rgba(27, 25, 68, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 19px;
  width: 58px;
  height: 55.55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  width: 10%;
}

.nav_buttons button {
  width: 60px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  background: transparent;
  color: white;
  cursor: pointer;
}

/* Wall fo love section */

.wall_of_love {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  margin-top: 200px;
  margin-bottom: 150px;
}

.wall_of_love > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  row-gap: -30px;
  width: 85vw;
}

.feedback_box_mainpage {
  width: 250px;
  height: 220px;
  background: rgba(57, 58, 61, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 21px;
  gap: 10px;
}

.feedback_box_mainpage:nth-child(2n) {
  margin-top: 40px;
}

.feedback_box_mainpage > section {
  display: flex;
  align-items: center;
}

.feedback_box_mainpage > section > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.feedback_box_mainpage img {
  width: 60px;
  height: 60px;
  border-radius: 150px;
  margin-right: 30px;
}

.user_name_mainpage {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 178.52%;
  color: #ffffff;
}

.user_email_mainpage {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 178.52%;
  color: #ffffff;
}

.feedback_box_mainpage p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 178.52%;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  /* logo and headers */

  .logo_main_page {
    width: 150px;
    margin-left: 15px;
  }

  .login_creator_mainpage {
    font-size: 14px;
  }

  .mainPage_headers {
    left: 0px;
    width: 100vw;
  }

  /* hero section */

  .hero_mainpage {
    flex-direction: column;
    margin: 127px auto;
  }

  .left_hero_text {
    align-items: center;
    margin-bottom: 50px;
  }

  .left_hero_text h1 {
    font-size: 2.5rem;
  }

  .left_hero_text p {
    font-size: 1.4rem;
    text-align: center;
    margin: 25px 0;
    width: 90%;
  }

  .left_hero_text button {
    background: #404245;
    border-radius: 6px;
    font-size: 1.4rem;
  }

  .hero_section_image {
    width: 310px;
    height: 196px;
  }

  /* header texts */

  .headers1_mainpage {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
  }

  .headers2_mainpage {
    font-size: 50px;
  }

  .text_mainpage1 {
    text-align: center;
    display: none;
  }

  /* steps section ----------------------------------------------------------------- */

  .steps_anchors_mainpage > div {
    flex-direction: column;
    margin-top: 30px;
  }

  .steps {
    width: 215px;
    height: 235px;
    margin-bottom: 60px;
  }

  .steps > div {
    width: 175px;
    height: 195px;
    left: 20px;
    top: 21px;
  }

  .steps > div img {
    width: 94px;
    top: 38px;
  }

  .steps > div p {
    font-size: 16px;
    width: 90%;
    margin-bottom: 40px;
  }

  /* why anchors section */

  .why_anchors_section {
    flex-direction: column;
    margin: 160px auto;
    margin-top: -50px;
  }

  .why_anchors_section img {
    display: none;
  }

  .why_anchors_desc {
    width: unset;
  }

  .why_anchors_desc > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .why_anchors_steps_boxes {
    align-items: center;
    margin-bottom: 40px;
  }

  .why_anchors_steps_boxes span {
    font-size: 1.2rem;
    margin-top: 12px;
  }

  .why_anchors_steps_boxes p {
    text-align: center;
    width: 60%;
  }

  /* facilities  */

  .facilities {
    margin-top: -35px;
  }

  .facilities > span {
    display: none;
  }

  .facilities_boxes {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 35px;
  }

  /* eligibility */

  .eligibility_mainpage > p {
    width: 90%;
    font-size: 16px;
  }

  .eligibility_mainpage > span {
    font-size: 16px;
  }

  .eligibility_check_section {
    flex-direction: column;
  }

  .eligibility_check_section > section {
    margin-right: unset;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    width: 137%;
    justify-content: space-evenly;
  }

  .eligibility_check_section > section span {
    margin-right: unset;
    font-size: 20px;
    padding: 8px 12px;
  }

  .eligibility_mainpage button {
    background: #404245;
    border-radius: 6px;
    font-size: 20px;
  }

  /* featured creators ---------------------------------------------------------------------------------------*/

  .featured_creators > span {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }

  .nav_buttons {
    width: 35%;
  }

  .creator_section_cardsection {
    width: 95%;
  }

  .creator_section_cardsection_card1 {
    margin: auto;
  }

  /* walls of love */

  .wall_of_love > div {
    grid-template-columns: repeat(1, 1fr);
    width: unset;
  }

  .feedback_box_mainpage {
    margin-bottom: 40px;
  }

  .feedback_box_mainpage:nth-child(2n) {
    margin-top: unset;
  }

  .wall_of_love {
    margin-bottom: 40px;
    margin-top: 110px;
  }
}

