.main_wrapper_user_dashboard {
  background-color: #f1f1f2;
  width: 100%;
  margin: 0 auto;
  padding: 20px 130px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 95vh;
}

/* Creator section --------------------------- */

.user_dashboard_creator_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

.user_dashboard_creator_section > svg {
  color: #cbcbcb;
  cursor: pointer;
  font-size: 21px;
}

.user_dashboard_creator_section > section {
  display: flex;
  gap: 25px;
  align-items: center;
}

/* Creator Card */

.creator_card_user_dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.outline_stroke_selected_creator {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid transparent;
}

.active_stroke_selected_creator {
  border: 5px solid red;
}

.creator_card_user_dashboard img {
  width: 64px;
  height: 64px;
  border-radius: 100px;
}

.creator_card_user_dashboard > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* Options in user Dashboard */

.options_section_user_dashboard {
  display: flex;
  align-items: center;
  gap: 20px;
}

.options_span_user_dashboard {
  background: #e7e7e8;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.active_option_user_dashboard {
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  background: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* Selected creator --------- */

.selected_creator_user_db {
  display: flex;
  align-items: center;
  gap: 15px;
}

.selected_creator_user_db > img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.selected_creator_user_db > section > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #383838;
}

.selected_creator_user_db > section > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}

/* Service Card ------------------------------- */

.service_card_user_db {
  width: 359px;
  height: 260px;
  background: #f7fcff;
  border: 0.5px solid #000000;
  border-radius: 16px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.service_card_tag {
  padding: 4px 15px;
  position: absolute;
  right: 0px;
  top: 30px;
  background: rgba(50, 51, 55, 0.5);
  border-radius: 16px 0px 0px 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.125em;
  text-transform: uppercase;

  color: #ffffff;
}

.service_card_details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 18px;
  left: 25px;
}

.service_card_details > img {
  width: 35.2px;
  height: 46.6px;
}

.service_card_details > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.service_card_buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.service_card_buttons > button:first-child {
  padding: 10px;
  gap: 10px;
  width: 144px;
  height: 35px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_card_buttons > button:last-child {
  padding: 6px 10px;
  gap: 10px;
  width: 144px;
  height: 35px;
  background: #f5051b;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* Service sections----------------------- */

.services_section_user_dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* row-gap: 40px; */
  gap: 25px;
}

.optional_info_service_section_user_db {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.optional_info_service_section_user_db > img {
  width: 150.67px;
  height: 202.51px;
}

.optional_info_service_section_user_db > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.optional_info_service_section_user_db > button {
  padding: 6px 29px;
  gap: 10px;
  width: 117px;
  height: 40px;
  background: #000000;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* events new ui section -------------------  */

.user_dashboard_event_data_section_wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.live_events_wrapper_user_dashboard_page {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(18, 18, 18, 0.1);
  padding: 20px;
  box-sizing: border-box;
  width: 452px;
  height: 220px;
}

.live_events_wrapper_user_dashboard_page > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.live_events_wrapper_user_dashboard_page > div > span {
  color: #f00;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.live_events_wrapper_user_dashboard_page > div > section {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  overflow: hidden;
  color: var(--neutral-gray-800, #1e293b);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.live_events_wrapper_user_dashboard_page > div > section > img {
  border-radius: 4px;
  width: 44%;
  height: 100px;
}

.live_events_wrapper_user_dashboard_page > div > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.live_events_wrapper_user_dashboard_page > div > div button {
  padding: 8px 20px;
  border-radius: 4px;

  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.live_events_wrapper_user_dashboard_page > div > div button:first-child {
  color: #f00;
  border: 1px solid #f00;
  background: transparent;
}

.live_events_wrapper_user_dashboard_page > div > div button:last-child {
  color: #fff;
  border: 1px solid #f00;
  background: #f00;
}

.live_events_wrapper_user_dashboard_page > div > div button:first-child:hover {
  color: #fff;
  border: 1px solid #f00;
  background: #f00;
}

.live_events_wrapper_user_dashboard_page > div > div button:last-child:hover {
  color: #f00;
  border: 1px solid #f00;
  background: transparent;
}

.upcoming_events_wrapper_user_dashboard_page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 82vw;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(18, 18, 18, 0.1);
}

.upcoming_events_wrapper_user_dashboard_page > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.upcoming_events_wrapper_user_dashboard_page > div span {
  border-radius: 4px;
  background: #64748b;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;

  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}

.upcoming_events_wrapper_user_dashboard_page > section {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 10px 2px;
}

.upcoming_events_wrapper_user_dashboard_page > section::-webkit-scrollbar {
  display: none;
}

.upcoming_event_cards_user_dashboard_event_page {
  min-width: 20vw;
  max-width: 20vw;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(18, 18, 18, 0.1);
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.upcoming_event_cards_user_dashboard_event_page > img {
  width: 100%;
  height: 120px;
  border-radius: 4px;
}

.upcoming_event_cards_user_dashboard_event_page > span {
  color: var(--neutral-gray-800, #1e293b);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.upcoming_event_cards_user_dashboard_event_page > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  color: var(--neutral-gray-600, #475569);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: 100px;
}

.upcoming_event_cards_user_dashboard_event_page > div > span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.upcoming_event_cards_user_dashboard_event_page > button {
  width: 85%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #f00;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
  border: 1px solid #fff;
  bottom: 40px;
  position: absolute;
}

.upcoming_event_cards_user_dashboard_event_page > button:hover {
  background: white;
  color: #f00;
  border: 1px solid red;
}

@media screen and (max-width: 600px) {
  .main_wrapper_user_dashboard {
    padding: 20px 0px;
    box-sizing: unset;
    overflow: hidden;
    gap: 25px;
    padding-bottom: 80px;
    min-height: 80vh;
  }

  /* Creator section ------------ */
  .user_dashboard_creator_section {
    border: none;
    padding-bottom: 8px;
  }

  .user_dashboard_creator_section > section {
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    display: grid;
    gap: unset;
    row-gap: 25px;
    grid-template-columns: repeat(5, 1fr);
  }

  /* Creator card */
  .outline_stroke_selected_creator {
    width: 48px;
    height: 48px;
    border: 3px solid transparent;
  }

  .active_stroke_selected_creator {
    border: 3px solid red;
  }

  .creator_card_user_dashboard img {
    width: 48px;
    height: 48px;
  }

  .creator_card_user_dashboard > span {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  }

  /* Options section ------------ */

  .options_section_user_dashboard {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #d9d9d9;
    height: 40px;
    padding: 0 20px;
    gap: 40px;
  }

  .options_section_user_dashboard::-webkit-scrollbar {
    display: none;
  }

  .options_span_user_dashboard {
    background: transparent;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
    padding: unset;
    white-space: nowrap;
  }

  .active_option_user_dashboard {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    background-color: transparent;
  }

  /* Selected creator */

  .selected_creator_user_db {
    padding: 0 15px;
    gap: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
  }

  .selected_creator_user_db > img {
    width: 35px;
    height: 35px;
  }

  .selected_creator_user_db > section > p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  .selected_creator_user_db > section > span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  /* service section ------------- */

  .services_section_user_dashboard {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Service card css  */
  .service_card_user_db {
    height: 174px;
    width: 90%;
    background: #f9f9f9;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }

  .service_card_tag {
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.125em;
    text-transform: uppercase;
  }

  .service_card_details {
    gap: 10px;
  }

  .service_card_details > img {
    width: 24px;
  }

  .service_card_details > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .service_card_buttons {
    justify-content: space-between;
    padding: 0 6%;
    box-sizing: 15px;
    box-sizing: border-box;
    bottom: 13px;
  }

  .service_card_buttons > button:first-child {
    width: 105px;
    padding: unset;
  }

  .service_card_buttons > button:last-child {
    width: 108px;
    padding: unset;
  }

  /* Optional details css ---------------- */

  .optional_info_service_section_user_db {
    margin: auto;
  }

  .optional_info_service_section_user_db > img {
    width: 52.35px;
    height: unset;
  }

  .optional_info_service_section_user_db > span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .optional_info_service_section_user_db > button {
    width: 116px;
    height: 35px;
  }

  .user_dashboard_event_data_section_wrapper {
    align-items: center;
  }

  .live_events_wrapper_user_dashboard_page {
    width: 90%;
  }

  .upcoming_events_wrapper_user_dashboard_page {
    width: 90%;
  }

  .upcoming_event_cards_user_dashboard_event_page {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
  }
}
