.serv_details{
    width: 99%;
    display: grid;
    grid-template-columns: 3% 17% 7% 8% 11% 9% 8% 7% 8% 13% 10%;
    /* grid-template-columns: 4% 22% 10% 10% 10% 10% 10% 10% 7% 9%; */
    height: 63px;
    align-items: center;
    font-size: 17px;
    border-radius: 5px;
    color: rgba(46, 43, 43, 0.808);
    margin-bottom: 20px;
    margin-left: -10px;
}

.serv_details2{
  width: 99%;
  display: grid;
  grid-template-columns: 3% 17% 7% 8% 9% 8% 9% 8% 9% 14% 8%;
  /* grid-template-columns: 4% 22% 10% 10% 10% 10% 10% 10% 7% 9%; */
  height: 63px;
  text-align: center;
  align-items: center;
  font-size: 17px;
  border-radius: 5px;
  color: rgba(46, 43, 43, 0.808);
  margin-bottom: 20px;
  margin-left: -10px;
}

.serv_details span{
    text-align: center;
    
}

.serv_details span:nth-child(2){
    word-wrap: break-word;
}

.serv_banner{
    width: 65px;
    height: 50px;
}


.serv_details a{
    text-align: center;
}

.serv_email{
    color: rgb(132 75 145)  ;
    cursor: pointer;
}

.display_action_icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.delete_serv{
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    height: 5px;
    width: max-content;
}

.delete_serv i{
    position: sticky;
}

.delete_serv span{
    font-size: 1rem;
    display: none;
    margin-top: 10px;
    font-weight: 500;
}


.delete_serv:hover span{
    display: inline;
}


/* service on off button */
/* The switch - the box around the slider */
/* * The switch - the box around the slider */ 
.switch2 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider2 {
  background-color: #2196F3;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider2.round2 {
  border-radius: 34px;
}

.slider2.round2:before {
  border-radius: 50%;
}