.user_dashboard_outer {
  background: #121212;
  width: 100%;
}

.user_dashboard_outer_nav {
  display: flex;
  width: 100%;
  padding: 20px 10.5%;
  align-items: center;
  gap: 34px;
}

.user_dashboard_all_creators_00 {
  display: flex;
  min-height: 238px;
  padding: 20px 10.5%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.user_dashboard_all_creators_00_combine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.user_dashboard_all_creators_00_creator {
  color: #fff;
  font-family: "Gilroy-Bold";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.user_dashboard_all_creators_00_desc {
  color: #d0d0d0;
  font-family: "Gilroy-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.user_dashboard_all_creators_00_creator_images {
  display: flex;
  align-items: flex-start;
  gap: 22px;
}
