/* New Pricing css --------------------------------------- */
.main_pricing_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  background-color: #101010;
  padding: 30px 0;
  padding-bottom: 100px;
}

.pricingIntroContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.pricingIntroContainer > button {
  width: 161px;
  height: 36px;
  background: #f5051b;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 22px 0;
}

.main_pricing_wrapper > section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* Texts ------------ */
.text01_pricing_box {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  color: #ffffff;
}

.text02_pricing_box {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 170%;
  width: 55%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.pricing_design01 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #18181b;
  border-radius: 6px;
  width: 294px;
  height: 48px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.pricing_design01 span:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 13px;
}

/* Card design css ---------------------------- */

.cardDesign_pricing {
  box-sizing: border-box;
  width: 423px;
  height: 473px;
  background: #18181b;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 35px;
  padding-top: 50px;
  position: relative;
  gap: 23px;
}

.cardDesign_pricing > section {
  border-bottom: 1px solid #27272a;
  height: 138px;
  display: flex;
  padding: 18px 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.cardDesignPricingText01 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #71717a;
}

.cardDesignPricingText03 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #ffffff;
  display: inline;
}

.cardDesignPricingText04 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #ffffff;
  display: inline;
}

.cardDesignPricingText05 {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.points_section_pricing_card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.cardDesign_pricing > button {
  width: 161px;
  height: 36px;
  background: #f5051b;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.cardDesignPricingText02 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Eligibility ---------------------- */

.eligibilty_pricing i {
  color: white;
}

/* FAQ section --------------------------------- */

.faq_pricing_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 115px;
}

.faq_pricing_text01 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}

.faq_pricing_text02 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 147.52%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

/* accordian test ------- */
.accordion {
  width: 730px;
}

.accordion-item {
  background: #18181b;
  width: 100%;
  margin: 1.2rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  border-radius: 3px;
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background: #18181b;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 1.3rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  /* border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; */
}

@media (max-width: 600px) {
  .main_pricing_wrapper {
    padding: 40px 0;
    gap: 28px;
    padding-bottom: 65px;
  }

  .main_pricing_wrapper > section {
    width: 100%;
  }

  .pricingIntroContainer {
    gap: 15px;
  }

  .text01_pricing_box {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
  }

  .text02_pricing_box {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    width: 90%;
  }

  /* Pricing Cards ------------ */
  .cardDesign_pricing {
    padding: 0 17px;
    padding-top: 36px;
    gap: 10px;
    min-width: 317px;
    max-width: 384px;
    width: 80%;
    height: 478px;
    margin-bottom: 35px;
  }

  /* Faq's Sections --------- */
  .faq_pricing_wrapper{
    margin-top: 80px;
  }

  .faq_pricing_text01 {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .faq_pricing_text02 {
    font-weight: 400;
    font-size: 16px;
    line-height: 147.52%;
  }

  .accordion {
    min-width: 330px;
    width: 85%;
  }

  .accordion-item-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0.5rem 3rem 0.5rem 0.8rem;
  }

  .accordion-item-body {
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
  }
  
  .accordion-item-body-content{
    padding: 0.8rem;
    
  }
}
