

/* New Pricing css --------------------------------------- */
.main_pricing_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 120px;
  background-color: #232426;
  padding: 30px 0;
  padding-bottom: 100px;
}

.pricingIntroContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.main_pricing_wrapper > section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* Texts ------------ */
.text01_pricing_box {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 53px;
  color: #ffffff;
}

.text02_pricing_box {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
}

.pricing_design01 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #18181b;
  border-radius: 6px;
  width: 294px;
  height: 48px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.pricing_design01 span:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 13px;
}

/* Card design css ---------------------------- */

.cardDesign_pricing {
  box-sizing: border-box;
  width: 356px;
  height: 507px;
  background: #18181b;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  padding-top: 34px;
  position: relative;
  gap: 23px;
}

.cardDesign_pricing > section {
  border-bottom: 1px solid #27272a;
  height: 138px;
  display: flex;
  padding: 8px 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
}

.cardDesignPricingText01 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #71717a;
}

.cardDesignPricingText03 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #ffffff;
  display: inline;
}

.cardDesignPricingText04 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #ffffff;
  display: inline;
}

.cardDesignPricingText05 {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.points_section_pricing_card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.cardDesign_pricing > button {
  width: 161px;
  height: 36px;
  background: #f5051b;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.cardDesignPricingText02 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Eligibility ---------------------- */

.eligibilty_pricing i {
  color: white;
}

/* FAQ section --------------------------------- */

.faq_pricing_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.faq_pricing_text01 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}

.faq_pricing_text02 {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 147.52%;
text-align: center;
color: rgba(255, 255, 255, 0.8);

}

/* Accordion styles */
.tabs {
  overflow: hidden;
  width: 554px;
  margin-top: 20px;
  -webkit-user-select: none;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 10px;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #18181b;
  font-weight: bold;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  /* Icon */
}

.tab-label::after {
  content: "+";
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.tab-content {
  /* max-height: 0; */
  padding: 0 1em;
  background: #18181b;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
  display: none;
  transition: all 0.5s ease-in-out;
}

.checkbox_accordian:checked + .tab-label {
  background: #18181b;
}
.checkbox_accordian:checked + .tab-label::after {
  content: "-";
}
.checkbox_accordian:checked ~ .tab-content {
  /* max-height: 100vh; */
  animation: accord 0.4s ease-in-out;
  display: block;
  padding: 1em;
}

@keyframes accord {
  0% {
    opacity: 0.3;
    transform: translateY(-13%);
  }
  50% {
    opacity: 0.6;
    transform: translateY(-7%);
  }
  75% {
    opacity: 0.9;
    transform: translateY(-3%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 750px) {
  .pricing_container_two {
    flex-direction: column-reverse;
    padding: 30px 0;
  }

  .pricing_container_two > div:first-child {
    width: 90%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.518);
  }

  .pricing_container_two li {
    font-size: 1rem;
  }

  .pricing_container_two > div:nth-child(2) {
    flex-direction: row;
    margin-bottom: 30px;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
  }

  .pricing_container_three {
    flex-direction: column;
    padding: 40px 0;
  }

  .pricing_container_three > div:first-child {
    width: 80%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.518);
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  .pricing_container_three > div:nth-child(2) {
    width: 80%;
  }

  .pricing_container_three button {
    padding: 15px 50px;
    font-size: 1.3rem;
  }

  .pricing_container_three > div:first-child > div {
    display: flex;
    align-items: center;
  }

  .pricing_container_three h3 {
    text-align: center;
    font-size: 1.6rem;
  }
}

@media (max-width: 530px) {
  .pricing_container_one section {
    flex-direction: column;
    margin-bottom: 25px;
  }

  .pricing_container_one section button {
    margin-bottom: 20px;
    width: 70%;
    font-size: 1.2rem;
  }

  .pricing_container_one span {
    font-size: 1.1rem;
    margin-bottom: 25px;
  }

  .pricing_container_one h2 {
    text-align: center;
    font-size: 1.3rem;
  }

  .pricing_container_one h1 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 25px;
  }

  .pricing_container_two {
    width: 90%;
  }

  .pricing_container_three {
    width: 90%;
  }

  .pricing_container_two > div:first-child {
    width: 90%;
    margin-top: 20px;
  }

  .pricing_container_two > div li {
    font-size: 1.2rem;
  }

  .pricing_header1 {
    font-size: 5rem;
    margin-right: 10px;
  }

  .pricing_container_three button {
    padding: 15px 35px;
    font-size: 1.2rem;
  }
}
