
.personalinfo_wrap{
    margin-left: 6%;
    padding-top: 3%;
    margin-right: 6%;
}

.personalinfo_top{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 4vh;
}
.personalinfo_top span{
    font-weight: 300;
        font-size: 16px;
        line-height: 19px;
}
.personalinfo_photosection{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 4vh;
}
.personalinfo_buttonupload{
    background-color: black;
    color: white;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.personalinfo_photocontainer{
    display: flex;
    gap: 2vw;
    justify-content: flex-start;
    align-items: baseline;
    height: 110px;
}
.personalinfo_photo{
    width:110px;
    height:100%;
    border-radius: 50%;
    background-color: white;
}

.personalinfo_formwrap{
    gap: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
}

.perosnalinfo_leftform{
display: flex;
align-items: flex-start;
flex-direction: column;
width: 47%;
}

.perosnalinfo_leftform >div {
    margin-bottom: 30px;
}
.perosnalinfo_rightform{
    display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 47%;
}
.perosnalinfo_rightform>div {
    margin-bottom: 30px;
}

.personalinfo_aboutme{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 5vh;
}

.personalinfo_aboutmeinput{
    width: 98%;
    height: 140px;
    background-color: white;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.219);
    padding: 15px;
    resize: none;
}

.personalinfo_aboutmeinput:focus {
    outline: #2196f3 solid 1px;
}
.personalinfo_linebreak{
    width: 100%;
    height: 2px;
    background-color: #00000033;
    margin-bottom: 5vh;
}
.personalinfo_socialwrap{
    width: 60%;
}
.personalinfo_socialwrap svg{
    padding-top:15px;
}
.personalinfo_socialwrap span{
    padding-top: 10px;
}
.personalinfo_socialwrap h2{
    margin-bottom: 5vh;
}
.personalinfo_sociallinks{
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.1fr;
    gap: 2vw;
    margin-bottom: 2vh;
}
.profileinfo_imagec{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}


.personalinfo_savebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    padding-bottom: 5vh;
}
.personalinfo_savebutton button{
    background-color: black;
        color: white;
        padding: 10px 22px 10px 22px;
        border-radius: 10px;
        cursor: pointer;
}