.event_popup_wrap_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgb(46 45 45 / 39%);
}

.create_event_head_popup {
  display: inline-flex;
  padding: 80px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
  background: #f7f7f8;
  animation: popoutonscreen 0.3s ease-in forwards;
}

@keyframes popoutonscreen {
  from{
    transform: scale(0);
  }

  to{
    transform: scale(1);
  }
}

.create_event_head_popup_text {
  color: #000;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.create_event_head_popup_total {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 80px;
}

.create_event_head_popup_total_frame {
  display: flex;
  width: 360px;
  padding: 30px 3px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 20px;
  border: 4px solid var(--neutral-gray-400, #94a3b8);
  background: #fff;
  cursor: pointer;
  color: var(--neutral-gray-800, #1e293b);
}

.create_event_head_popup_total_frame:hover {
  background-color: black;
  border: 4px solid black;
  color: white;
}

.create_event_head_popup_total_frame_text {
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
