.success_page_wrapper {
  background: #121212;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Main benefit section --------- */

.main_header_component_success_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Canvas design ------------------ */

.banner_canvas_wrapper {
  z-index: -10;
  position: absolute;
  top: 0;
}

.main_hero_details_benefits {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  color: white;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}

.left_benefit_section_hero_success {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 38vw;
}

.banner_success_page {
  width: 100%;
  padding-bottom: 56%; /* For a 4:3 aspect ratio, you can adjust the percentage as needed */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.banner_success_page > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_success_page > span {
  position: absolute;
  left: -18px;
  bottom: -18px;
  background-color: rgba(0, 0, 0, 0.169);
  border-radius: 40px;
  padding: 20px;
}

.left_benefit_section_hero_success > h2 {
  color: #fff;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.left_benefit_section_hero_success > div > input {
  width: 100%;
  padding: 20px;
  padding-right: 10%;
  color: var(--neutral-gray-800, #1e293b);
  font-size: 16px;
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background: var(--neutral-gray-200, #e2e8f0);
  cursor: pointer;
}

.left_benefit_section_hero_success > div > input:focus {
  outline: none;
}

.left_benefit_section_hero_success > section {
  display: flex;
  align-items: center;
  gap: 52px;
}

.left_benefit_section_hero_success > section svg {
  font-size: 30px;
  color: rgba(203, 213, 225, 1);
  cursor: pointer;
  margin-top: 10px;
}

.right_benefit_section_hero_success {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 37vw;
}

.right_benefit_section_hero_success > h1 {
  color: var(--neutral-gray-200, #e2e8f0);
  font-size: 70px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  line-height: 90px;
}

.right_benefit_section_hero_success > p * {
  color: var(--neutral-gray-200, #e2e8f0) !important;
  font-size: 24px !important;
  font-family: "Gilroy-Regular", sans-serif !important;
  line-height: normal;
}

.right_benefit_section_hero_success > p ul {
  padding-left: 30px;
}

.right_benefit_section_hero_success > p ol {
  padding-left: 30px;
}

.leaderboard_status_text_event_success {
  width: 100%;
  color: #fff;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

/* End section leader board --------- */
.leaderboard_rest_data_success_page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
  background: #282828;
  margin: 0 auto;
  padding: 40px 40px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.leaderboard_rest_data_success_page > section > h1 {
  color: #d0d0d0;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.leaderboard_rest_data_success_page > section > p {
  color: #fff;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* leader_board_table */

.leader_board_table_success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 40px 0;
  margin: auto;
}

.table_head_leaderboard_success {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-bottom: 32px;

  color: #fff;
  font-size: 30px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
}

.table_head_leaderboard_success > span {
  text-align: center;
}

.table_body_leaderboard_success {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  place-items: center;
  color: #fff;
  font-family: "Gilroy SemiBold", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  border-radius: 8px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 0.6) 0%,
    rgba(102, 102, 102, 0.3) 49.48%,
    rgba(33, 33, 33, 0.6) 100%
  );

  box-sizing: border-box;
}

.table_body_leaderboard_success > span {
  text-align: center;
}

/* SUccess mOdal -------------------- */

.successModal_success_page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(18, 18, 18, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.successPage_main_modal_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  background: var(--neutral-gray-100, #f1f5f9);
  padding: 40px 80px;
  gap: 40px;
}

.successPage_main_modal_box > img {
  width: 120px;
  height: 120px;
}

.successPage_main_modal_box > span {
  color: var(--neutral-gray-800, #1e293b);
  text-align: center;
  font-size: 30px;
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 400px;
}

.successPage_main_modal_box > button {
  border-radius: 8px;
  background: #f00;
  padding: 12px 40px;
  color: #fff;
  font-size: 16px;
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;

  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/* top referal section --------------- */

.referal_benefits_section_event_success_page {
  border-radius: 12px;
  background: #282828;
  width: 80%;
  margin: 40px auto;
  padding: 40px 40px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.referal_benefits_section_event_success_page > h1 {
  color: var(--neutral-gray-200, #e2e8f0);
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.referal_benefits_section_event_success_page > p {
  color: #d0d0d0;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.referal_benefits_section_event_success_page > p * {
  color: inherit !important;
  font-size: inherit !important;
  font-family: inherit !important;
  line-height: normal;
}

.referal_benefits_section_event_success_page > p ul {
  padding-left: 30px;
  margin-top: 20px;
}

.referal_benefits_section_event_success_page > p ol {
  padding-left: 30px;
  margin-top: 20px;
}

.floater_success_page_events {
  width: 100%;
  background: #121212;
  box-shadow: 0px -4px 12px 0px rgba(225, 225, 225, 0.1);
  position: fixed;
  bottom: 0;
  z-index: 9999;
  padding: 20px 10%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  animation: popoutModal 1s ease-in-out forwards;
}

.floater_success_page_events > svg {
  cursor: pointer;
}

.floater_success_page_events > section {
  width: 72vw;
  border-radius: 2px;
  border: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  justify-content: space-between;
  flex: 1 0 0;
  cursor: pointer;
}

.floater_success_page_events > section > input {
  color: #d0d0d0;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  width: 90%;
  cursor: pointer;
}

.floater_success_page_events > section > input:focus {
  outline: none;
}

/* Event countdown------------------- */

.event_countdown_event_success_page {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(
    --Glass,
    linear-gradient(
      154deg,
      rgba(255, 251, 251, 0.2) 43.83%,
      rgba(18, 18, 18, 0.2) 103.02%
    )
  );
  backdrop-filter: blur(7px);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 67px 35px;
  box-sizing: border-box;
  gap: 40px;
  min-height: 306px;
}

.event_countdown_event_success_page > h2 {
  color: #fff;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.event_countdown_event_success_page > section {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}

.event_countdown_event_success_page > section > span{
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
}

.event_countdown_event_success_page > section > div {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 11px 31px;
  width: 100px;
  box-sizing: border-box;
}

.event_countdown_event_success_page > section > div span {
  color: #eeeeee;
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.event_countdown_event_success_page > section > div p {
  color: #d0d0d0;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 800px) {
  .banner_canvas_wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .main_header_component_success_page {
    gap: 0px;
    height: unset;
  }

  .success_page_wrapper {
    scroll-snap-type: unset;
  }

  .success_page_wrapper::-webkit-scrollbar {
    display: none;
  }

  .main_hero_details_benefits {
    flex-direction: column;
    align-items: center;
    padding: unset;
    width: 91%;
    gap: 40px;
  }

  .left_benefit_section_hero_success {
    width: 100%;
    gap: 8px;
  }

  .banner_success_page {
    width: max-content;
    border-radius: 8px;
    background: #282828;
    padding: 8px;
  }

  .banner_success_page > img {
    position: unset;
    height: unset;
    width: 86vw;
  }

  .left_benefit_section_hero_success > h2 {
    font-size: 16px;
  }

  .left_benefit_section_hero_success > div input {
    padding: 14px 20px;
    padding-right: 13%;
    font-size: 12px;
  }

  .left_benefit_section_hero_success > section {
    margin-top: 12px;
    gap: 36px;
  }

  .left_benefit_section_hero_success > section svg {
    font-size: 21px;
  }

  .right_benefit_section_hero_success {
    gap: 8px;
    width: 100%;
  }

  .right_benefit_section_hero_success > h1 {
    font-size: 24px;
    line-height: 50px;
  }

  .right_benefit_section_hero_success > p {
    font-size: 16px !important;
  }

  .right_benefit_section_hero_success > p * {
    font-size: 16px !important;
  }

  .leaderboard_wrapper_success_page {
    scroll-snap-type: unset;
    scroll-snap-align: unset;
    align-items: flex-start;
    width: 91%;
    margin: 40px auto;
    justify-content: unset;
    min-height: unset;
    gap: 20px;
  }

  .leaderboard_wrapper_success_page > h1 {
    font-size: 24px;
  }

  .main_leader_board_toppers {
    gap: 9vw;
    margin: 0 auto;
  }

  .main_leader_board_toppers > section {
    gap: 16px;
    min-width: 22vw;
  }

  .main_leader_board_toppers > section > div {
    margin-bottom: 10px;
  }

  .main_leader_board_toppers > section > h2 {
    font-size: 16px;
    text-align: center;
  }

  .main_leader_board_toppers > section > span {
    font-size: 16px;
  }

  .main_leader_board_toppers > section > div > span {
    width: 28px;
    font-size: 16px;
    height: 28px;
  }

  .topper_image_area {
    width: 16vw;
    height: 16vw;
  }

  .gold_image_area {
    width: 22vw;
    height: 22vw;
  }

  .leaderboard_rest_data_success_page {
    width: 91vw;
    border-radius: 12px;
    padding: 16px;
  }

  .leaderboard_rest_data_success_page > section > h1 {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .leaderboard_rest_data_success_page > section > p {
    font-size: 14px;
  }

  .leaderboard_status_text_event_success {
    font-size: 14px;
    width: 90%;
  }

  .leader_board_table_success {
    margin: unset;
    padding: unset;
  }

  .table_head_leaderboard_success {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .table_body_leaderboard_success {
    font-size: 16px;
    height: 40px;
  }

  #silver-trophy > img {
    width: 60px;
    height: 60px;
  }

  #gold-trophy > img {
    width: 80px;
    height: 80px;
  }
  #bronze-trophy > img {
    width: 40px;
    height: 39.998px;
    margin-top: 20px;
  }

  /* Modal css ----------------------- */

  .successPage_main_modal_box {
    padding: 20px 6vw;
    gap: 20px;
  }

  .successPage_main_modal_box > img {
    width: 40px;
    height: 40px;
  }

  .successPage_main_modal_box > span {
    font-size: 24px;
    width: 300px;
  }

  .successPage_main_modal_box > button {
    font-size: 12px;
  }

  .banner_success_page > span {
    left: -12px;
    bottom: -15px;
    padding: 15px;
  }

  .referal_benefits_section_event_success_page {
    width: 91vw;
    padding: 16px;
    border-radius: 12px;
  }

  .referal_benefits_section_event_success_page > h1 {
    font-size: 24px;
  }

  .referal_benefits_section_event_success_page > p {
    font-size: 14px;
  }

  /* floater------ */

  .floater_success_page_events {
    padding: 20px 16px;
    gap: 12px;
    justify-content: space-between;
  }

  .floater_success_page_events > section > input {
    width: 90%;
    font-size: 16px;
  }
}
