@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.dark_user_login_name{
    color: white !important;
}


.main_workshop_page_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 20px; */
  background-color: #1c1b1b;
  color: white;
  font-family: "Roboto", sans-serif !important;
}

.workshop_header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #1c1b1b;
  border-bottom: 1px solid #3c3838;
  color: white;
  font-family: "Roboto", sans-serif !important;

}




.workshop_tags_section {
  display: flex;
  margin-top: 15px;
  margin-bottom: 8px;
}

.workshop_tags_section span {
  background-color: #000000;
  border-radius: 5px;
  margin-right: 25px;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 10px;
  color: #6a6161;
}

.workshop_sdesc {
  font-size: 1.2rem;
  margin-top: 15px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto", sans-serif !important;
  width: 90%;
  word-wrap: break-word;
  color: black;
  filter: invert(100%);
}

.service_h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 9px;
}


/* price description css */


.bottom_workshop_section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 28px;
  justify-content: space-between;
  height: max-content;
  position: sticky;
  top: 71px;
  background-color: #1c1b1b;
  box-sizing: border-box;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.507);
  border-top: 1px solid rgba(255, 255, 255, 0.507);
}

.mobile_workshop_time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #6a6161;
    border-bottom: 2px solid #6a6161;
    padding: 15px 0px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
}

.bottom_workshop_section > span {
  display: flex;
  align-items: center;
}



/* creator profile on service page */
.workshop_creators {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  /* background-color: #F9F9F9; */
  height: max-content;
  position: sticky;
  top: 89px;
  font-family: "Roboto", sans-serif !important;
}

.workshop_creators > div {
  width: 65vw;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.workshop_profile_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}

.workshop_page_profile_pic {
  width: 130px;
  height: 130px;
  border-radius: 160px;
  margin-top: 0px;
}

.c_workshop_name {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.57);
}

.c_workshop_tagline {
  width: 85%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.57);
}

.workshop_profile_data > section {
  width: 100%;
  /* background-color: red; */
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: space-evenly; */
}

.workshop_profile_data > section > a {
  margin-right: 15px;
}

.service_page_creator section a {
  margin-right: 10px;
}

.workshop_page_creator_button {
  background: #1c1b1b;
  border: 2px solid #6a6161ea;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 25px 0;
  font-size: 1.4rem;
  font-weight: 400;
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif !important;
}


.workshop_footer_service{
  background-color: #1c1b1b;
  color: white;
  padding: 10px 15px;
  
}


@media (max-width: 550px) {
  .service_section_details h1 {
    width: 96%;
    font-size: 1.5rem;
    font-weight: 700;
    width: 80%;
  }

  .service_section_image {
    width: 100%;
    border-radius: 0;
  }

  .service_section_content {
    width: 100vw;
  }

  .service_section_details {
    width: 95%;
  }

  .service_h2 {
    width: 100%;
  }

  .workshop_creators {
    width: 95%;
  }

  .workshop_creators > div {
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .workshop_profile_data {
    align-items: center;
    margin-left: 0;
    margin-top: 16px;
  }

  .workshop_profile_data > section {
    align-items: center;
    text-align: center;
    width: max-content;
  }

  .workshop_page_profile_pic {
    width: 90px;
    height: 90px;
  }

  .c_workshop_name {
    font-size: 1.4rem;
  }

  .c_workshop_tagline {
    text-align: center;
    width: 100%;
  }

  .bottom_workshop_section {
    position: fixed;
    bottom: 0;
    top: unset;
    justify-content: space-between;
    padding: unset;
    border: none;
    padding: 0 10px;
    background-color: white;
    color: black;
    width: 100vw;
    box-sizing: border-box;
    margin-left: -11px;
  }

  .download_service {
    width: max-content;
    padding: 5px 25px;
    font-size: 1.1rem;
  }

  .workshop_sdesc {
    font-size: 1.1rem;
    width: 94%;
    font-weight: 400;
    margin: auto;
    margin-top: 15px;
  }

  .workshop_sdesc:nth-child(1){
    width: 98%;
  }

  .workshop_footer_service{
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 50px;
    background-color: #1c1b1bed;
  }
}
