@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.dark_user_login_name {
  color: white !important;
}

.main_workshop_page_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 20px; */
  font-family: "Roboto", sans-serif !important;
}
.workshop_section_image {
  width: 98%;
  /* height: 50vh; */
  border: none;
  min-height: 200px;
  max-height: 55vh;
  border-radius: 10px;
}

.workshopdate_infobar {
  width: 100%;
  display: flex;
  margin-top: 20px;
  float: left;
}

.workshopdate_timing {
  /* padding-top: 5px; */
  background: #B9FFD3EB;
  border-radius: 17px;
  text-align: center;
  font-weight: 600;
  padding: 8px 25px;
  font-size: 1rem;
  margin-right: 10px;
}

.workshop_infobar_wrapper {
  display: inline;
  max-height: 50px;
}
.workshopdate_categ {
  padding-top: 5px;
  background: #EEEEEE;
  border-radius: 17px;
  text-align: center;
  font-weight: 500;
  padding: 8px 25px;
  font-size: 1rem;
  color: #6A6161;
}
.workshopdate_calender {
  float: right;
  position: relative;
  bottom: 120px;
  padding-left: 39vw;
}

.workshop_header {
  position: sticky;
  top: 0px;
  z-index: 999;
  /* background-color: #1C1B1B; */
  border-bottom: 1px solid #3c3838;
  /* color:white; */
  font-family: "Roboto", sans-serif !important;
}

.workshop_tags_section {
  display: flex;
  margin-top: 15px;
  margin-bottom: 8px;
}

.workshop_tags_section span {
  background-color: grey;
  border-radius: 5px;
  margin-right: 25px;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 10px;
  color: #000000;
}

.workshop_desc_content_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.book_workshop_box {
  position: sticky;
  left: 0px;
  top: 80px;
  background-color: #f9f4f0;
  border-radius: 10px;
  border: transparent;
  max-height: 240px;
  padding: 0px 20px 0px 20px;
  margin-top: 60px;
  width: 22vw;
  margin-right: 120px;
  text-align: center;
}
.book_workshop_box button {
  position: relative;
  top: 40px;
}
.book_workshop_box_maxprice {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #bcb9b9;
  position: relative;
  top: 10px;
}
.book_workshop_box_content h3 {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #388e3c;
  padding-top: 10px;
}
.book_workshop_box_price {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 5px;
}

.download_workshop {
  font-size: 1.3rem;
  background-color: red;
  padding: 10px 50px;
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.workshop_sdesc {
  font-size: 1.2rem !important;
  margin-top: 15px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto", sans-serif !important;
  width: 88%;
  word-wrap: break-word;
}

.service_h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 9px;
}

/* price description css */

.bottom_workshop_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  font-size: 20px;
  padding: 5px 0px;
  color: #ff574d;
  height: max-content;
  /* position: sticky;
  background-color: white; */
  top: 71px;
  box-sizing: border-box;
  margin-top: -15px;
}

.bottom_workshop_section_firstspan span:first-of-type {
  margin-right: 22px;
  padding-right: 1vw;
  font-size: 1.2rem;
}


.workshop_reserve_button{
  background-color: black;
  border: none;
  font-weight: 500;

  transition: transform 0.3s ease-in-out;
}

.workshop_reserve_button:hover{
  transform: scale(1.05);
}

.mobile_workshop_time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #6a6161;
    border-bottom: 2px solid #6a6161;
    padding: 15px 0px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    position: fixed;
    bottom: 1px;
}

.bottom_workshop_section > span {
  display: flex;
  align-items: center;
}
.book_workshop_box_free {
  max-height: 200px;
  margin-right: unset;
}
.service_bar_bottom {
  left: 10px;
}

.bottom_fixed_btn{
  font-size: 0.9rem !important;
  padding: 10px !important;
  width: unset !important;
  border-color: #2a302b;
  background-color: black;

}
.popup_create_workshop_background{
  width: 100vw;
    height: 100vh;
    background-color: #a0a0a039;
    position: fixed;
    z-index: 9;
    display: grid;
    place-items: center;
}

.atcb-icon{
  border: none;
}

/* creator profile on service page */
.workshop_creators {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  /* background-color: #F9F9F9; */
  height: max-content;
  position: sticky;
  top: 89px;
  font-family: "Roboto", sans-serif !important;
}
.bottom_workshop_section_bar {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 5px 28px;
  justify-content: space-between;
  height: max-content;
  position: fixed;
  border-radius: 5px;
  bottom: 1px;
  background-color:  #E7FFEA;
  margin-left: -10px;
}

.workshop_creators > div {
  width: 65vw;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.workshop_profile_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}

.workshop_page_profile_pic {
  width: 130px;
  height: 130px;
  border-radius: 160px;
  margin-top: 0px;
}

.c_workshop_name {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 5px 0;
  /* color: rgba(255, 255, 255, 0.57); */
}

.c_workshop_tagline {
  width: 85%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  color: rgba(61, 60, 60, 0.892);
}
.free_label_workshop {
  color: green;
  font-size: 2.7rem;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.workshop_section_details h1 {
  font-size: 1.9rem;
  font-weight: 700;
  width: 75%;
}
.workshop_profile_data > section {
  width: 100%;
  /* background-color: red; */
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: space-evenly; */
}

.workshop_profile_data > section > a {
  margin-right: 15px;
}

.service_page_creator section a {
  margin-right: 10px;
}

.workshop_page_creator_button {
  /* background: #1c1b1b; */
  border: 2px solid #6a6161ea;
  border-radius: 10px;
  /* color: white; */
  padding: 10px;
  letter-spacing: 1px;
  margin: 25px 0;
  font-size: 1.4rem;
  font-weight: 400;
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif !important;
}

.css-1fjavwo {
  min-height: 110px;
}
.css-o50oyy {
  padding-top: 5px;
  padding-bottom: 5px;
}
.css-o50oyy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.workshop_footer_service {
  background-color: #1c1b1b;
  color: white;
  padding: 10px 15px;
}

.bottom_workshop_section_bar{
  display: none;
}

.workshop_list_display{
  grid-template-columns: repeat(3,1fr);
  width: 98%;
  max-width: unset;
  margin-top: 15px;
  padding-bottom: 50px;
}


/* share button */

.share_btns_wrapper h3{
  padding: 5px 0px 10px 0px;
}

.btn__container {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.btn_share {
  min-width: 110px;
  background-color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #286;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  cursor: pointer;
}

.btn_share i {
  color: #286;
  font-size: 20px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}

.btn_share span {
  font-family: "Roboto", sans-serif;
  align-self: center;
  transform: translateX(0px);
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

.btn_share:hover {
  transform: scale(1.1);
  background: #286;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.btn_share:hover i {
  transform: translateX(45px);
  padding-right: 0;
  color: #FFF;
}

.btn_share:hover span {
  transform: translateX(30px);
  opacity: 0;
}

.btn_share:active {
  transform: scale(1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-f {
  min-width: 110px;
  background-color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #286ED6;
  display: flex;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn-f i {
  color: #286ED6;
  font-size: 20px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}

.btn-f span {
  font-family: "Roboto", sans-serif;
  align-self: center;
  transform: translateX(0px);
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

.btn-f:hover {
  transform: scale(1.1);
  background-color: #286ED6;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.btn-f:hover i {
  transform: translateX(45px);
  padding-right: 0;
  color: #FFF;
}

.btn-f:hover span {
  transform: translateX(30px);
  opacity: 0;
}

.btn-f:active {
  transform: scale(1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/*share button css end*/

.workshop-box-register{
  background-color: #E7FFEA;
  padding: 15px 20px 15px 20px;
  display: flex;
  min-width: 14vw;
  min-height: 25vh;
  max-height: 25vh;
  margin-top: 4vh;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}
.workshop-box-register p:first-of-type{
  font-size: 2.5rem;
  font-family: Roboto;
    font-weight: 700;
    margin-top: -10px;
}


.workshop-box-register p:last-of-type {
      color:  #BCB9B9;
      font-size: 1.5rem;
      margin-top: -25px;
}
.workshop-box-register h3{
  color: #388E3C;
  font-size: 1.5rem;
} 

.already_registered-box svg{
 margin-top: 7px;
 margin-right: 10px;
  
}
.already_registered-box  {
  display: flex;
  flex-direction: row;

}
.mobile_price_desc-workshop{
  display: flex;

  flex-direction: row;
  gap: 4vw;
}
.finished_workshop{
  color: red;
  font-size: 1.3rem;
  max-width: 95%;
  text-align: center;
}
.free_workshop_book{
  font-size: 2rem;
  font-weight: 500;
}
.finished_workshop_mobile{
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
  color: red;
}
.mobile-workshop-wrapper{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1550px) {
  .book_workshop_box {
    width: 40vw;
  }
}

@media (max-width: 1355px) {
  .book_workshop_box {
    max-height: 280px;
    margin-left: 30px;
  }
}
@media (max-width: 730px) {

  .workshop_section_image{
    border-radius: 0;
    width: 100%;
  }

  .workshop_desc_content_wrapper {
    flex-direction: column-reverse;
  }
  .book_workshop_box {
    min-height: 250px;
    max-height: 250px;
    position: relative;
    top: -10px;
    left: 10vw;
  }

  .workshopdate_calender{
    margin-right: 10px;
  }

  .workshop_list_display{
    grid-template-columns: repeat(1,1fr);
    width: 98%;
    max-width: unset;
    margin-top: 15px;
    padding-bottom: 40px;
  }

}
@media (max-width: 550px) {
  .workshop-box-register{
    display: none;
  }
  .c_workshop_tagline {
    max-width: 70vw;
  }

  .bottom_workshop_section_bar{
    display: flex;
  }

  .book_workshop_box {
    display: none;
  }

  .service_section_details h1 {
    width: 97%;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .service_section_image {
    width: 100%;
    border-radius: 0;
  }

  .service_section_content {
    width: 100vw;
  }
  .workshop_reserve_button{
    display: none;
  }

  .service_section_details {
    width: 95%;
  }

  .service_h2 {
    width: 100%;
  }

  .workshop_creators {
    width: 95%;
  }

  .workshop_creators > div {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1C1B1B; */
    width: max-content;
    margin: auto;
    font-size: 1.2rem;
    padding: 0 20px;
    line-height: 30px;
    color: rgb(82, 81, 81);
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .workshop_profile_data {
    align-items: center;
    margin-left: 0;
    margin-top: 15px;
  }

  .footer_service a {
    color: rgb(82, 81, 81);
    text-decoration: none;
  }

  .bottom_workshop_section{
    margin-top: 0;
    font-size: 1.1rem;
  }
  
  .bottom_workshop_section_firstspan span:first-of-type{
    font-size: 1.1rem;

  }
}

@media (max-width: 500px) {
  .book_workshop_box_free {
    max-width: 100%;
    max-height: 50px !important;
    min-height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .workshop_profile_data {
    margin-left: unset;
  }
  .service_header {
    position: static;
  }

  .main_service_page_box {
    flex-direction: column;
    margin-top: 0px;
    align-items: center;
  }

  .more_services {
    align-items: center;
  }

  .service_section_content {
    width: 100%;
    align-items: center !important;
  }

  .service_section_image {
    width: 100%;
    /* height: 30vh; */
    margin: auto;
    border-radius: 0px;
  }

  .service_section_details {
    width: 96%;
  }

  .service_section_details h1 {
    width: 97%;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .service_h2 {
    font-size: 1.3rem;
    margin-top: 20px;
    width: 98vw;
  }

  .service_sdesc {
    font-size: 1.1rem;
    width: 96%;
    font-weight: 400;
    /* color: black; */
  }
  

  .service_list_display {
    align-items: center !important;
  }

  .service_list_display_item {
    width: 88vw;
    height: 50vh;
  }

  .workshop_page_profile_pic {
    width: 90px;
    height: 90px;
  }

  .c_workshop_name {
    font-size: 1.4rem;
  }

  .c_workshop_tagline {
    text-align: center;
    width: 100%;
  }

  .download_workshop {
    width: max-content;
    padding: 5px 25px;
    font-size: 1.1rem;
    position: absolute;
    margin-left: -0px;
  }
  .book_workshop_box {
    width: 100%;
    position: unset;
    padding: unset;
    margin-left: unset;
    border-radius: 20px;
  }

  .workshop_sdesc {
    font-size: 0.9rem;
    width: 98%;
    font-weight: 400;
    margin-top: 10px;
  }

  .workshop_sdesc:nth-child(1) {
    width: 98%;
  }

  .footer_service {
    font-size: 1rem;
    width: 100vw;
    font-weight: 500;
    height: 70px;
    margin: 0;
    margin-bottom: 78px;
    margin-top: 7vh;
    text-align: center;
    padding: 0;
    box-shadow: 0px 0px 8px 4px #eeeeee;
    background-color: #eeeeee !important;
  }

  .footer_service span {
    display: inline-block;
    margin: auto;
  }
    .already_registered-box svg {
      margin-top: 7px;
      margin-right: 10px;
      color: green;
    }
  
    .already_registered-box {
      display: flex;
      flex-direction: row;
      color: green;
    }
}

@media (max-width: 390px) {
  .bottom_workshop_section {
    display: block;
  }
  .workshop_tags_section {
    display: grid;
    grid-template-columns: repeat(2fr);
    gap: 5px;
  }

  .btn__container{
    
  }
  .btn_share{
    min-width: 50px;
    padding: unset;
    transition: none;
    min-height: 10px;
  }
  .btn-f{
    padding: unset;
    padding-left: 10px;
    min-width: 50px;
  }
  .btn_share:hover i {
      transform: translateX(40px);
      padding-right: 0;
      color: #FFF;
      padding-top: 4px;
      padding-bottom: 4px;
    }
        .btn-f:hover i {
          transform: translateX(28px);
          padding-right: 0;
          color: #FFF;
          padding-top: 4px;
            padding-bottom: 4px;
        }
}
@media (max-width: 320px) {
  .workshopdate_calender {
    display: none;
  }
    .bottom_fixed_btn {
      font-size: 0.9rem !important;
      padding: unset !important;
      width: unset !important;
    }
    .workshop_tags_section{
      margin-right: 4px;
    }
}
