@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 4vw;
}

.dashboard a{
    text-decoration: none;
    color: black;
    width: max-content;
    height:max-content;
}

.user_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    margin-top: 28px;
}

.dashboard_header1{
    font-size: 25px;
    font-weight: 700;
}

.user_section span{
    color: rgb(128 120 120);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;

}

.add_event{
    border: 2px solid rgba(255, 0, 0, 0.873);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 70px;
    color: red;
    margin-top: -30px;
    
    
}


.add_event h2{
    font-weight: 500;
    font-size: 21px;
    margin-left: -50px;
}



.daterangeselect{
    padding-left: 2vw;
}
.rangeselect_wrapper{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.rangeselect_wrapper > div{
    margin-right: 15px;
    width: 18%;
}
/* .rangeselect_wrapper span{
    margin-right: 20px;

} */
/* .rangeselect_wrapper input{
    max-width: 110px;
    min-width: 110px;
    padding: 6px 15px 6px 15px;
    border-radius: 12px;
    margin-right: 10px;
} */

.linegraph_wrapper{
    display: flex;
    margin-top: 5vw;
    padding-left: 2vw;
}

.chart_two{
    padding-left: 8vw;
}

.chart_three{
    margin-top: 40px;
    padding-top: 2vh;
    padding-left: 15vw;
}

