@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");

.userModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 9999;
  justify-content: center;
  background-color: rgba(45, 45, 45, 0.188);
}

.userModalBox {
  width: 420px;
  height: 500px;

  background: #f1f1f2;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.userModalCross {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #0000004d;
  font-size: 22px;
  cursor: pointer;
}

.userModalBox > section {
  text-align: center;
}

.logo_user_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 15px;
}

.logo_user_modal > img {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.userModal_text_02 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.userModal_text_02 > span {
  font-size: 18px;
  margin-left: 8px;
}

.userModal_text_03 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 148%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 50%;
}

.userModal_text_04 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 148%;
  text-align: center;
  color: #000000;
  margin: 20px 0;
}

.userModalbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userModalbuttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 280px;
  height: 38px;
  background-color: #242529;
  border-radius: 28px;
  border: none;
  margin-bottom: 15px;
  box-sizing: border-box;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}

.userModalbuttons > button svg {
  font-size: 17px;
}

.userModal_text_05 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 148%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  width: 70%;
  margin: 10px 0;
  position: absolute;
  bottom: 10px;
}

.userModal_text_05 > span {
  text-decoration: underline;
  cursor: pointer;
}


@media (max-width: 600px) {
  .userModalWrapper{
    background-color: #00000066;
  }

  .userModalBox {
    width: 360px;
    height: 480px;
  }
}
