/* Waitlist Css ------------------------------------------------------------------ */

.waitlist_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #232426;
}

/* Navbar wailtist ------------------------------------------ */

.waitlist_navbar {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px;
}

.logo_waitlist {
  width: 196px;
  height: 35px;
  cursor: pointer;
}

/* waitlist main section ----------------------------------------- */

.wailtist_main_section {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* text types waitlist ---------------------------------------------- */

.wailtist_number_header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 121px;
  color: #ffffff;
}

.waitlist_header01 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
  color: #ffffff;
}

.waitlist_header02 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 27px 0;
  width: 40%;
}

.waitlist_header03 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #ffffff;
  cursor: pointer;
  margin-top: 15px;
}





/* Tell us more css --------------------------------------------------------------- */

.wailist_left_side {
  flex-direction: column;
}

.waitlist_img1 {
  width: 300px;
  height: 300px;
}

.waitlist_extra_gyan01 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
  width: 63%;
  margin-top: 30px;
}

.waitlist_form_area {
  width: 80%;
  height: 75%;
  overflow: auto;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.waitlist_form_area > div {
  margin-bottom: 40px;
}

.waitlist_inviteCode_section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.waitlist_inviteCode_section > div {
  width: 50%;
}

.waitlist_inviteCode_section > i {
  position: relative;
  bottom: 19px;
  right: 40px;
}

@media screen and (max-width: 700px) {
}
