.wailist_header_01 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    width: 60%;
    margin: 0 auto;
  }
  
  .wailist_para {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    margin: 60px auto;
  }
  
  .wailist_para p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 161.02%;
    margin-bottom: 40px;
  }
  
  .wailist_para span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
  }
  